{% extends 'default/base.html.twig' %}

{% block body %}
  <p>
    Hello {{user.username}}
  </p>
  <ul>
    <li><a href="{{path('admin_files')}}">Manage your Files</a></li>
    <li><a href="{{path('admin_route')}}">Manage your Route</a></li>
    <li><a href="{{path('admin_directions_calculate')}}">Calculate Directions</a></li>
    <li><a href="{{path('admin_stories_sync')}}">Synchronize Stories</a></li>
    <li><a href="{{path('admin_images_sync')}}">Synchronize Images</a></li>
  </ul>
{% endblock %}